<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>
    <add key="URL" value="https://api.godaddy.com/v1/"/>
    <add key="AccessKey" value="AEdBCuyrDvW_6XVDcvdAc7MbSoQbUkqkwq"/>
    <add key="SecretKey" value="6XVGwL6a88WW2V1G1fDiHd"/>
    <add key="RequestHeaders" value="application/json"/>
  </appSettings>
</configuration>