<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="DNSUpdaterService" Language="1033" Version="1.0.0.0" Manufacturer="SmartyPantalones" UpgradeCode="fb86fbb2-a1d0-467b-87c8-0ca97d606093">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />
    
		<Feature Id="ProductFeature" Title="DNS Updater Service" Level="1" Absent="disallow">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
  
      <UI>
      <Property Id="DefaultUIFont">DlgFont8</Property>

      <Dialog Id="InstallDlg" Width="370" Height="270" Title="[ProductName] [Setup]" NoMinimize="yes">
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
          <Text>{\DlgTitleFont}Ready to Install</Text>
        </Control>
        <Control Id="Install" Type="PushButton" X="304" Y="243" Width="56" Height="17" Default="yes" Text="Install">
          <Publish Event="EndDialog" Value="Return" />
        </Control>
      </Dialog>

      <TextStyle Id="DlgFont8" FaceName="Tahoma" Size="8" />
      <TextStyle Id="DlgTitleFont" FaceName="Tahoma" Size="8" Bold="yes" />

      <InstallUISequence>
        <Show Dialog="InstallDlg" After="CostFinalize" />
      </InstallUISequence>
    </UI>

	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="DNSUpdaterService" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <!--Id, Keypath, and GUID elements are ommited as they are implied-->
			 <Component>
         <File Source="..\DNSUpdaterService\bin\Release\DNSUpdaterService.exe"/>
			 </Component> 
			 <Component>
         <File Source="..\DNSUpdaterService\bin\Release\DNSUpdaterService.exe.config"/>
			 </Component> 
			 <Component>
         <File Source="..\DNSUpdaterService\bin\Release\Newtonsoft.Json.dll"/>
			 </Component> 
			 <Component>
         <File Source="..\DNSUpdaterService\bin\Release\System.Net.Http.Formatting.dll"/>
			 </Component> 
		</ComponentGroup>
	</Fragment>

</Wix>
